.page {
    font-size: 12pt;
}

/* Estilo para contactos que pueden firmar facturas */
.can_sign_highlight {
    border: 2px dashed #26c087 !important; /* Borde verde personalizado */
    border-radius: 10px !important; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2) !important; /* Sombra para tridimensionalidad */
    background: linear-gradient(to bottom, rgba(38, 192, 135, 0.1) 0%, rgba(38, 192, 135, 0.2) 100%) !important; /* Gradiente de fondo semi-transparente */
}

/* Estilo para el badge de firma autorizada */
.sign-badge {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(9, 177, 47, 0.64) !important;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 10px;
    font-weight: bold;
    color: #30403a;
}

/* Tamaño de fuente pequeño para el ribbon */
.ribbon span {
    font-size: 10px !important;
}